@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body.dark {
  --background-color: hsl(207, 26%, 17%); 
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}

body{
  background-color: var(--background-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px #0000003d;
  background-color: var(--elements-color);
  color: var(--text-color);
  padding: 18px 25px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .toggle-theme {
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

main {
  padding: 25px;
  margin-block: 16px;
}

.country-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  min-height: calc(100vh - 140px);
}

.img-section-detail {
  width: 500px;
}

.img-section-detail img {
  width: 100%;
}

.country-detail-info p,
.extra-detail p {
  color: var(--text-color);
  margin-block: 4px;
  font-size: 20px;
}

.country-detail-info p > span,
.extra-detail p > span {
  color: var(--text-color);
  font-weight: 700;
}

.country-detail-info .country-detail-title {
  color: var(--text-color);
  font-size: 36px;
  margin-bottom: 26px;
}

.extra-detail{
  margin-top: 30px;
}
