.shimmer-main {
    padding: 32px;
  }
  
  .shimmer-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
    
  }
  
  .back-button {
    padding: 6px 24px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
  }
  
  .shimmer-back {
    width: 100px;
    height: 24px;
    background-color: #ccc;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }
  
  .shimmer-details {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
    flex-wrap: wrap;
  }
  
  .fake-img {
    width: 40%;
    min-width: 300px;
    height: 250px;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 8px;
    animation: shimmer 1.5s infinite linear;
  }
  
  .details-text-container {
    flex: 1;
  }
  
  .shimmer-name,
  .shimmer-native,
  .shimmer-population,
  .shimmer-region,
  .shimmer-sub-region,
  .shimmer-capital,
  .shimmer-top-level-domain,
  .shimmer-currencies,
  .shimmer-languages {
    background: linear-gradient(90deg, #ccc 25%, #e0e0e0 50%, #ccc 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 6px;
  }
  
  .shimmer-name {
    width: 200px;
    height: 32px;
    margin-bottom: 24px;
  }
  
  .details-text {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 64px;
    max-height: 180px;
    flex-wrap: wrap;
  }
  
  .details-text div {
    height: 20px;
    width: 30%;
    margin-bottom: 8px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
  
  /* RESPONSIVE for tablet/mobile */
  @media (max-width: 940px) {
    .shimmer-details {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 32px;
      gap: 16px;
    }
  
    .fake-img {
      width: 100%;
      max-width: 400px;
    }
  
    .details-text {
      max-height: unset;
    }
  }
  